DB_HOST=localhost
DB_NAME=metrics_db
DB_USER=admin_user
DB_PASSWORD=network_password

MODE=development # development / production
JWT_SECRET_KEY=secret-key
JWT_ALGORITHM=HS256

BACKEND_PORT=8080
BACKEND_CONTAINER_NAME=backend-server
